<html ng-app="app">
    <head>
        <title>CODE EDITOR</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
        <script src="bower_components/angular-ui-ace/ui-ace.min.js"></script>

        <script src="src/app.js"></script>

        <style>
            
        </style>
    </head>

    <body ng-controller="codeController">
        <div class="container-fuluid">
            <div class="row bg-dark fixed-top" style="height: 50px;">
                <div class="col-sm-2  text-white d-flex justify-content-start align-items-center">
                    CODE EDITOR
                </div>
            </div>


            <div class="row" style="margin-top:51px;">
                <div class="col-sm-3"></div>

                <div class="col-sm-6">
                    <div class="row rounded bg-light" >
                        <div class="col-sm-12 rounded" >
                            <div class="editor" style="height: 300px; " ui-ace="{ mode: 'javascript', theme: 'monokai' }" ng-model="code"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6" >
                            <button type="button" ng-click="fetchValue();" class="btn btn-block btn-outline-info btn-lg">
                                Fetch Value
                            </button>
                        </div>
                        <div class="col-sm-6" >
                            <button type="button" ng-click="resetValue();" class="btn btn-block btn-outline-secondary btn-lg">
                                Reset Value
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3"></div>
            </div>
        </div>
    </body>
</html>